{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="container-md">
  <div class="row no-gutters">
    {% for post in posts %}
    <div class="col-12 post-wrapper my-4">
        <div class="d-flex justify-content-between">
          <div>
            <a
              href="{% url 'network:profile' post.user.username  %}"
              class="mr-2 font-weight-bold profile-link"
              >{{ post.user.nickname }}</a
            >
            <span class="username-text">@{{ post.user.username }}</span>
          </div>
          <span class="date-info">{{ post.timestamp}}</span>
        </div>
        <p class="mt-3">{{ post.newPost }}</p>
        <i class="fa-solid fa-heart like-heart mr-3"></i>
        <i class="fa-regular fa-heart like-heart mr-3"></i>
        <i class="fa-solid fa-comment mr-3"></i>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center pb-5">
      <div class="pagination my-5 justify-content-center">
        <span class="step-links">
          <div class="d-flex">
            {% if posts.has_previous %}
            <a class="btn-pagination p-2 rounded" href="?page=1"
              >&laquo; first</a
            >
            <a
              class="btn-pagination p-2 rounded"
              href="?page={{ posts.previous_page_number }}"
              >previous</a
            >
            {% endif %} {% if posts.has_next %}
            <a
              class="btn-pagination p-2 rounded"
              href="?page={{ posts.next_page_number }}"
              >next</a
            >
            <a
              class="btn-pagination p-2 rounded"
              href="?page={{ posts.paginator.num_pages }}"
              >last &raquo;</a
            >
            {% endif %}
          </div>
          <span class="current mt-2 d-block">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>






{% endblock %}
