{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'network/n-logo.jpg' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <link href="{% static 'network/styles.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="main-wrapper">
      <nav class="network-nav nav-md text-center">
        <a class="brand" href="{% url 'network:index' %}">Network</a>

        <div>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'network:profile' user.username %}"
                ><strong>{{ user.username }}</strong></a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'network:allPosts' %}"
                >All Posts</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'network:following' user.username %}"
                >Following</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'network:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'network:login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'network:register' %}"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="body">{% block body %} {% endblock %}</div>
    </div>
  </body>
</html>
